
Resources:
  DynamoDBTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
         HashKeyElement:
           AttributeName: id
           AttributeType: S
      # create a table with the least available rd and wr throughput
      ProvisionedThroughput:
         ReadCapacityUnits: 1
         WriteCapacityUnits: 1

  NotificationTopic:
    Type: AWS::SNS::Topic

Outputs:
  NotificationTopicArn:
    Description: Notification topic ARN
    Value: { "Ref" : "NotificationTopic" }

option_settings:
  aws:elasticbeanstalk:application:environment:
    # these are assigned dynamically during a deployment
    NOTIFICATION_TOPIC: '`{"Ref" : "NotificationTopic"}`'
    DYNAMODB_TABLE: '`{"Ref" : "DynamoDBTable"}`'
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'

# ssh onto the instance and run:
# /opt/elasticbeanstalk/bin/get-config environment
# /opt/elasticbeanstalk/bin/get-config environment -k NOTIFICATION_TOPIC
# /opt/elasticbeanstalk/bin/get-config environment -k DYNAMODB_TABLE
# /opt/elasticbeanstalk/bin/get-config optionsettings